.App {
  text-align: center; }

.list {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ababab; }
  .list:after {
    content: " ";
    display: block;
    clear: both; }

.topic {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px 10px 0px; }
  .topic:after {
    content: " ";
    display: block;
    clear: both; }
  .topic .upvotes {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%; }
  .topic .content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%; }
  .topic button.up {
    width: 6.77966%;
    float: left;
    margin-right: 1.69492%; }
  .topic button.down {
    width: 6.77966%;
    float: right;
    margin-right: 0; }
